<% layout('layout') -%>
<div class="m-container s-orange">

	<header>
		<ol class="m-breadcrumb">
			<% breadcrumbs.forEach(function(item) { %>
			<li><a href="<%- item.path %>"><%= item.name %></a></li>
			<% }) %>
			<% if (dirs.length > 0) { %>
			<li class="more">
			<ol>
				<% dirs.forEach(function(dir) { %><li><a href="<%- dir.link %>"><%= dir.name %></a></li><% }) %>
			</ol>
			</li>
			<% } %>
		</ol>
	</header>
<!--
<a href="..">⤴ ..</a>
▵
▴
↑
⬆︎
☝︎
⇧
⤴︎
↪︎
⤣
-->

	<div>
		<section role="content">
			<% if (typeof creationDate !== 'undefined') { %>
			<hgroup>
				<h1 class="title"><%- title %></h1>
				<p><span class="date"><%- creationDate %></span><span class="time"><%- creationTime %></span></p>
			</hgroup>
			<% } %>
			<% if (typeof content !== 'undefined') { %>
			<article><%- content %></article>
			<% } else { %>
			<p style="color: #999">+++ empty +++</p>
			<% } %>
		</section>

		<nav class="m-navigation">
		<% include directory %>
		</nav>
	</div>
</div>