<div class="m-page-buttons">
	<% if (typeof filePath !== 'undefined') { %><a href="<%- encodeURI('lumos-connect://' + filePath).replace(/'/g, '%27') %>" title="Edit page (E)" class="edit-button"><span class="glyphicon glyphicon-pencil"></span></a><% } %><a href="" title="Toggle fullscreen (F)" class="button-fullscreen"><span class="glyphicon glyphicon-resize-full"></span></a>
	<!-- TODO: the second button should be added by JavaScript -->
</div>

<div class="m-page-title">
<% if (typeof creationDate !== 'undefined') { %>
	<h1 class="title"><%= title %></h1>
	<p><span class="date"><%= creationDate %></span><span class="time"><%= creationTime %></span></p>
<% } else { %>
	<h1 class="title"><%= title %></h1>
<% } %>
</div>

<% if (typeof content !== 'undefined') { %>
<article><%- content %></article>
<% } else { %>
<p style="color: #999">+++ empty +++</p>
<% } %>